

/* body{background-color: rgb(60, 60, 60);} */

/* Start Styles Overrides */
.bg-background{

	background-color:white;

}
	.data-\[selected\=true\]\:data-\[range-selection\=true\]\:text-primary[data-range-selection=true][data-selected=true] {

	color: white;
	
}

.data-\[selected\=true\]\:data-\[selection-start\=true\]\:data-\[range-selection\=true\]\:bg-primary[data-range-selection=true][data-selection-start=true][data-selected=true] {
	background-color: hsl(0deg 0% 77.01%);
}

.data-\[selected\=true\]\:data-\[selection-end\=true\]\:data-\[range-selection\=true\]\:bg-primary[data-range-selection=true][data-selection-end=true][data-selected=true] {
background-color: hsl(0deg 0% 77.01%);
}


.data-\[selected\=true\]\:shadow-none[data-selected=true] {

	background-color: hsl(0deg 0% 77.01%);
}

	.tap-highlight-transparent  > span {
			color: black;
			/* background-color: white;		 */
	}

	#login-tab{
		/* background-color: white !important; */
		color: rgb(255, 255, 255) !important;
	}

	.tap-highlight-transparent > span:active{

		color:white;
	}

	.data-\[open\=true\]\:rotate-180{

		color: black;
	}

	.data-\[editable\=true\]\:text-foreground[data-editable=true] {
	
	color: black;
}
.your-date-picker-class .date-picker-value {
	color: #000000; /* Black color */
}


.group[data-selected=true] .group-data-\[selected\=true\]\:text-default-foreground {
	color: white !important;

}
.dropdown{
	color: white;
}

.dropdown:active{
	color: black;
}
/* End Styles Overrides */



.my-form{

   /* From https://css.glass */
   background-color: white !important;
/* background: rgba(255, 255, 255, 0.12) !important; */
border-radius: 16px !important;
/* box-shadow: 0 4px 20px rgba(255, 255, 255) !important; */
/* backdrop-filter: blur(3.9px); */
/* -webkit-backdrop-filter: blur(3.9px); */
border: 1px solid rgba(255, 255, 255, 1)!important;
}

.my-form-galassy{

   /* From https://css.glass */
   /* background-color: white; */
background: rgba(255, 255, 255, 0.12);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(255, 255, 255);
backdrop-filter: blur(3.9px);
-webkit-backdrop-filter: blur(3.9px);
border: 1px solid rgba(255, 255, 255, 1);
}


.theme-primary-color{
    background-color: #FF0000;
}


.navglass{
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.37) !important;
border-radius: 16px !important;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
backdrop-filter: blur(9.3px) !important;
-webkit-backdrop-filter: blur(9.3px) !important;
}



.max-w-\[1024px\] {
	max-width: none !important;
}
.main-logo{
    animation: myAnim 13s ease-in-out 0s infinite normal none;
}

@keyframes myAnim {
	0%,
	100% {
		transform: translateY(0);
	}

	10%,
	30%,
	50%,
	70% {
		transform: translateY(-2px);
	}

	20%,
	40%,
	60% {
		transform: translateY(2px);
	}

	80% {
		transform: translateY(1.2px);
	}

	90% {
		transform: translateY(-1.2px);
	}
}




.big-logo{
    animation: myAnimLG 13s ease-in-out 0s infinite normal none;
}

@keyframes myAnimLG {
	0%,
	100% {
		transform: translateY(0);
	}

	10%,
	30%,
	50%,
	70% {
		transform: translateY(-6px);
	}

	20%,
	40%,
	60% {
		transform: translateY(6px);
	}

	80% {
		transform: translateY(5.2px);
	}

	90% {
		transform: translateY(-5.2px);
	}
}


.chart-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	background-color: #f4f4f4;
  }
  
.graph-container {
	max-width: 50%;
	width: 100%;
	background-color: #ffffff;
	padding: 20px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	margin: 30px;
  }



.responsive-chart{
	width: 900;
 }

.home-bg{
	position:"absolute";
	height:"100%";
	width:"100%";
	object-fit:"cover";
	top:0;
	z-index:0
}

@media (min-width:768px) {
	.responsive-chart{
			 max-width: 1000;
			 /* background-color: gold; */
	}
}



.group[data-selected=true] .group-data-\[selected\=true\]\:text-primary-foreground {
	color: white;
}